<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/index.css">
        <title> Dario Luiz</title>
    </head>

    <body>
        
        <header>
            <div class="menu">
                <a  href="/">Sobre</a>
                <a href="class.html" target="_blank">Aulas</a>
                
            </div>
            
        </header>

        <div id="wrapper">
            <img src="https://scontent.fcgh3-1.fna.fbcdn.net/v/t1.0-9/64762520_2266041243482690_3877629189318246400_o.jpg?_nc_cat=108&_nc_sid=09cbfe&_nc_ohc=WK6kRocZKPkAX-z6mVu&_nc_ht=scontent.fcgh3-1.fna&oh=cc2ab48f2380840f266f6eafbfab0ef8&oe=5F7AAE30" alt=""> 
            <h1>Dario Luiz</h1>
            <h2>Programador Junior</h2>
            <p>Aprendendo diversar tecnologias.</p>
        </div> 

        <div class="menu_redeSocial">
            <a href="https://www.facebook.com/dariio.luiz" target="_blank">Facebook</a>
            <a href="https://www.linkedin.com/in/d%C3%A1rio-luiz-tezolin-bergamo-3b106590/" target="_blank">Linkedin</a>
            <a href="https://github.com/Darioluiz" target="_blank">Gitthub</a>
            
        </div>

    </body>
</html>
